/*
 * Base structure
 */
html,
body {
    height: 100%;
}

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    background: url('https://dl.dropboxusercontent.com/u/28151607/backgrounds/workspace.jpg') center;
    background-size: cover;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 500px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 600px rgba(0, 0, 0, 1);
}

.navbar .nav > li > a,
.navbar-default .navbar-brand {
    color: white;
}

.navbar .nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    background-color: #e7e7e7;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.navbar-default {
    background: transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Cover
 */

.cover {
    padding: 50% 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Footer
 */

.footer {
    margin-top: 6%;
    color: rgb(17, 12, 12);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

/*
 * Affix and center
 */

@media (min-width: 768px) {

    /* Pull out the footer */
    /* .mastfoot {
         position: relative;
         bottom: 0;
     }*/
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

#ava {
    margin: 2px 20px 5px 40px;
    border-radius: 50%;
    width: 50px;
    border: 1px black solid;
}

#ava-big {
    margin-top: 100px;
}

.custom-nav {
    padding: 0;
}

/* Sections */
.about-section {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-height: 50%;
    /* background-color: rgba(166, 166, 166, .2);*/
    height: auto;
    overflow: auto;
}

.about-cover {
    display: block;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 600px rgba(0, 0, 0, 1);
    padding-top: 60px;
}

#cont {
    border-radius: 15px;
    padding: 5%;
    overflow: auto;
    height: auto;

}

#bio {
    color: white;
    margin: 50px;
    font-size: 18px;
    text-align: left;
}

.bio-cover {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 20px;
}

.portfolio-section {
    height: auto;
    min-height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(15, 25, 41);
    overflow: auto;
}

.padding-custom {
    padding-top: 60px;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 3% auto;
    max-width: 650px;
}

.portfolio-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #110c0c;
    opacity: 0;
    background: rgba(242, 242, 242, 0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-content {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-about {
    margin: 3% 20% 3% 20%;
}

.portfolio-caption:hover {
    opacity: 1;
}

.contact-section {
    height: 50%;
    padding-top: 60px;
    text-align: center;

}

.contact-text {
    color: #110c0c;
    text-align: center;
    font-size: 28px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    overflow: auto;
}

#social-contact {
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

hr:nth-child(2) {
    background-color: rgb(15, 25, 41);
    color: rgb(15, 25, 41);
    height: 1px;
    width: 30%;
}